VITE_PUBLIC_SITE_URL=https://www.globallmg.org
VITE_API_BASE_URL=/api
VITE_PORTAL_MODE=express-portal
VITE_GOOGLE_CLIENT_ID=
VITE_TEMP_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLScPhase0DummyGlobalLMGForm/viewform
